.feed {
  flex: 0.6;
}

.feed__inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
  outline: none;
}

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
}

.feed__inputOption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: grey;
  padding: 10px;
  cursor: pointer;
}

.feed__inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.feed__inputOption > h4 {
  margin-left: 5px;
}
