.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgrey;
  padding: 10px 0;
  width: 100%;
  background-color: white;
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header__left > .header__search {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  color: grey;
}

.header__search:hover {
  color: black;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}

.headerOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
